/* Reset origin styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */

:root {
  --accent: #43d2ff;
  --primary: #072ac8;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --secondary: #ffc600;
  --secondary2: #fce300;
  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f2f4fc;
  --neutral-light-blue: #ecf7ff;
  --white: #ffffff;
}

.primary-bg {
  background-color: var(--primary);
}

.primary-txt {
  color: var(--primary);
}

.primary-tapped-bg {
  background-color: var(--primary-tapped);
}

.primary-hover-bg {
  background-color: var(--primary-hover);
}

.primary-hover-txt {
  color: var(--primary-hover);
}

.secondary-bg {
  background-color: var(--secondary);
}

.secondary-txt {
  color: var(--secondary);
}

.bg {
  background-color: var(--neutral-light);
}

.txt-white {
  color: var(--white);
}
.txt-dark {
  color: var(--neutral-dark);
}

.bg-dark {
  background-color: var(--neutral-dark);
}

.txt-medium {
  color: var(--neutral-medium);
}

.bg-white {
  background-color: var(--white);
}

.txt-white {
  color: var(--white);
}

/* Text styles */

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.body-txt-medium {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.body-txt-regular {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.headline-regular {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
}

.headline-medium {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
}

.caption-regular {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
}

.caption-small {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

/* GENERIC */
/* Header */
li,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6b708d;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 170px;
}

.logo {
  cursor: pointer;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 0 30px;
}

.navbar li a {
  transition: all 0, 3s ease 0s;
}

.navbar li a:hover {
  color: var(--primary);
}

.cta {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 15px 36px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0, 3s ease 0s;
}

.cta:hover {
  background-color: var(--neutral-dark);
}

.burger-menu {
  display: none;
}
/* Content */

.content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0 30px;
  padding-bottom: 170px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 242px;
  position: relative;
}

.footer-web {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 242px;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.footer-left p {
  margin-top: 30px;
}

.footer-right {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-right a {
  color: var(--primary);
}

/* HOMEPAGE */
/* Hero Section */

.hero-section {
  display: flex;
  height: max-content;
  margin: 0 140px;
  justify-content: space-between;
}

.imatge-hero {
  position: relative;
}

.img-hero {
  max-width: 560px;
  vertical-align: middle;
  display: inline-block;
}
.hero-content {
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-top: 109px;
  margin-bottom: 119px;
  max-width: 530px;
}

.hero-content p {
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.btn-ourwork {
  margin-left: 40px;
  transition: all 0, 3s ease 0s;
}

.btn-ourwork:hover {
  color: var(--primary);
}

.card1 {
  position: absolute;
  left: -19%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 375px;
}

.card2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -22%;
  max-width: 375px;
}

.client-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: max-content;
  top: 130px;
}

/* clients sections */

.client-section {
  margin-top: 30px;
  margin-bottom: 350px;
}
.logos-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 170px;
}

.clients {
  display: flex;
  width: 150px;
  left: 1120px;
  top: 0px;
  justify-content: center;
  align-items: center;
}

/* projects sections */

.projects-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

.h3-projects {
  width: 100%;
  height: max-content;
  margin-left: 170px;
  margin-bottom: 70px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: max-content;
  margin: 0 170px;
}

.card-projects {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 444px;
  height: max-content;
}
.projects img {
  width: 340px;
  height: 240px;
}

.title-card {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.text-card {
  margin-left: 30px;
  margin-right: 30px;
}

.link-card {
  margin-top: 54px;
  margin-left: 30px;
}

/* Testimonial section */

.testimonial-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  min-height: 622px;
  height: max-content;
  margin-top: 200px;
  background-image: url("project-assets/testimonial-section/orbit.png");
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: max-content;
  min-width: 630px;
  text-align: center;
}
.testimonial-section h3 {
  margin-bottom: 104px;
}

.clients-information {
  margin-top: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 171px;
  height: 50px;
}

.img-clients {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.information {
  text-align: left;
  margin-left: 10px;
}

/* Testimonial section > emoji */

.emoji {
  width: 150px;
  height: 150px;
  position: absolute;
}

.tl {
  position: absolute;
  top: 51px;
  left: 76px;
}

.tr {
  position: absolute;
  top: 51px;
  right: 76px;
}

.bl {
  position: absolute;
  bottom: 51px;
  left: 76px;
}

.br {
  position: absolute;
  bottom: 51px;
  right: 76px;
}

/* Our services */

.services-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  margin-top: 200px;
}

.h3-projects {
  width: 100%;
  height: max-content;
  margin-left: 170px;
  margin-bottom: 70px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: max-content;
  margin: 0 170px;
}

.card-services {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 380px;
  height: max-content;
}

.circulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin-top: 40px;
  margin-left: 30px;
}

.imagen-service {
  display: flex;
  height: 40px;
  width: 40px;
}

/* cta mail */

.cta-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  min-height: 500px;
  height: max-content;
  margin-top: 200px;
  background-color: var(--secondary);
  justify-content: center;
  align-items: center;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  background-color: none;
  text-align: center;
}

.cta-text p {
  margin-top: 20px;
  margin-bottom: 50px;
}

.cta-mail {
  position: relative;
}
.input {
  width: 393px;
  min-height: 80px;
  height: max-content;
  border: none;
  padding-left: 70px;
}

.icon-mail {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 30px;
  height: 30px;
  background-image: url(project-assets/newsletter/icon/mail.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.cta-mail button {
  min-height: 80px;
  width: 198px;
  margin-left: 20px;
}

/* PAGE PROJECTS */

.project-section {
  display: flex;
  flex-direction: column;
  height: max-content;
  top: 146px;
  margin: 0 170px;
  margin-bottom: 113px;
}

.project-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.project-imatge {
  display: flex;
  margin-top: 80px;
  margin-bottom: 70px;
  min-height: 444px;
  background-image: url("project-assets/projects-section/1.jpg");
  background-size: cover;
}

.project-text {
  display: flex;
  height: max-content;
}

.date {
  display: flex;
  flex-direction: row;
}

/* PAGE CONTACT US */
.contact-us-section {
  display: flex;
  flex-direction: column;
  height: 830px;
  top: 146px;
  margin: 0 170px;
}

.contact-form {
  margin-top: 80px;
}

.form-name {
  display: flex;
  flex-direction: column;
}

.input-form {
  width: 100%;
  min-height: 80px;
  border: none;
  padding-left: 70px;
  margin: 20px 0px;
}

.form-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.phone-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.mail-form {
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-right: 10px;
}

.submit {
  background-color: var(--primary);
  width: 100%;
  min-height: 80px;
}

/* MEDIA QUERIES START */

@media (max-width: 415px) {
  /* Text styles mobile */

  h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
  }

  h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
  }

  h4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .body-txt-medium {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .body-txt-regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }

  .headline-regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
  }

  .headline-medium {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
  }

  .caption-regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
  }

  .caption-small {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
  }

  /* Content */
  .content {
    padding-bottom: 30px;
  }
  /* Header */
  header {
    padding: 24px;
  }
  .navbar {
    display: none;
  }

  .cta {
    display: none;
  }

  .burger-menu {
    display: inline-block;
  }
  /* HOME PAGE */
  /* hero section */
  /* hero section > content */
  .hero-section {
    flex-direction: column;
    margin: 0px;
    text-align: center;
  }
  .hero-content {
    margin: 30px 0px;
  }

  .btn-hero {
    flex-direction: column;
    align-items: center;
  }
  .get-in-touch {
    display: flex;
    margin-bottom: 20px;
  }

  .btn-ourwork {
    margin: 0px;
  }
  /* hero section > image */

  .card1 {
    visibility: hidden;
  }

  .card2 {
    visibility: hidden;
  }

  .imatge-hero {
    display: flex;
    width: 100%;
    max-width: none;
  }

  .img-hero {
    width: 100%;
    max-width: none;
  }
  /* clients sections */
  .client-section {
    top: 40px;
    margin-bottom: 40px;
    min-height: 270px;
  }
  .logos-section {
    margin: 0px;
    flex-wrap: wrap;
  }
  .amazon {
    visibility: hidden;
  }

  /* projects sections */

  .project-section {
    height: fit-content;
  }

  .h3-projects {
    margin-left: 0px;
    text-align: center;
  }

  .projects {
    flex-direction: column;
    height: fit-content;
    margin: 0px;
    align-items: center;
  }

  .card-projects {
    margin: 10px 0px;
  }

  /* testimonial sections */

  .testimonial-section {
    margin: 20px 0px;
    min-height: 100%;
    min-width: none;
    padding: 30px 0px;
  }

  .testimonial-section h3 {
    position: relative;
    margin-bottom: 40px;
  }

  .testimonial-text {
    min-width: 100%;
    width: 100%;
    padding: 0 15px;
    margin: 40px;
  }

  .clients-information {
    margin-top: 40px;
  }
  .emoji {
    visibility: hidden;
  }
  /* service secion */

  .services-section {
    margin-top: 40px;
  }
  .services {
    flex-direction: column;
    margin: 10px 0px;
  }

  .card-services {
    margin: 10px 0px;
  }

  /* cta mail */
  .cta-section {
    margin: 0px 0px;
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100%;
  }
  .subscribe {
    display: flex;
    margin: 0px;
  }

  .cta-mail {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }

  .cta-mail button {
    margin: 0px;
    min-height: 100%;
    width: 100%;
  }

  .input {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-web {
    flex-direction: column;
    margin: 0px 0px;
    align-items: center;
    padding-bottom: 30px;
  }

  .footer-left {
    text-align: center;
    margin: 30px;
  }

  .footer-left img {
    align-items: center;
  }

  .footer-left p {
    text-align: center;
  }

  .footer-right {
    margin: 0px 50px;
  }

  /*PAGE PROJECTS*/
  .project-section {
    margin: 0px;
    margin-bottom: 60px;
  }
  .project-details {
    flex-direction: column;
  }

  .project-imatge {
    margin-top: 40px;
  }
}
