/* colores */

.bg {
  --accent: #43d2ff;
  --primary: #072ac8;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --secondary: #ffc600;
  --secondary2: #fce300;
  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f4f6fc;
  --neutral-light-blue: #ecf7ff;
  --white: #ffffff;
}

.primary-bg {
  background-color: var(--primary);
}

.primary-txt {
  background-color: var(--primary);
}

.primary-tapped-bg {
  background-color: var(--primary-tapped);
}

.primary-hover-bg {
  background-color: var(--primary-hover);
}

.primary-hover-txt {
  color: var(--primary-hover);
}

.secondary-bg {
  background-color: var(--secondary);
}

.secondary-txt {
  background-color: var(--secondary);
}

.bg {
  background-color: var(--neutral-light);
}

.txt-white {
  color: var(--white);
}
.txt-dark {
  background-color: var(--neutral-dark);
}

.txt-medium {
  background-color: var(--neutral-medium);
}

/* colores */

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.body-txt-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.body-txt-regular {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}

.headline-regular {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
}

.headline-medium {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
}

.caption-regular {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
}

.caption-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

/*  */
